---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro"

---

<Layout>
  <main class="flex justify-center flex-col items-center lg:p-2 pt-5 px-2 w-5/6 mx-auto">
    <Navbar />
    <Home/>
  </main>
</Layout>
