<footer
  class="w-full h-16 bg-verdeCrema flex justify-center items-center p-2 px-6 rounded-lg"
>
  <h3 class="font-outfit font-semibold text-verdeOscuro">Psicologa Cynthia Monzón</h3>
  <footer></footer>
</footer>
