<main
  class="flex flex-col lg:flex-row justify-center items-center w-full h-auto lg:h-96 rounded-lg mt-4 space-y-4 lg:space-y-0 lg:space-x-4"
  x-data="{ show: false }"
  x-init="setTimeout(() => show = true, 100)"
>
  <!-- Primera sección -->
  <section
    class="bg-verdeCrema w-full lg:w-4/6 h-screen lg:h-96 rounded-lg flex flex-col lg:flex-row justify-center items-center lg:p-4 p-1"
    x-show="show"
    x-transition:enter="transition ease-out duration-700"
    x-transition:enter-start="opacity-0 transform -translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
  >
    <div class="w-full lg:w-3/5 mb-4 lg:mb-0">
      <p
        class="text-4xl lg:text-3xl text-center font-outfit font-semibold text-verdeOscuro"
      >
        Hay una versión pasada de ti que estaría orgullosa de donde estás hoy.
      </p>
    </div>
    <div class="w-full lg:w-2/5">
      <img
        src="/plantas.png"
        alt="Plantas"
        class="object-cover mx-auto w-72 h-72 lg:w-96 lg:h-96"
      />
    </div>
  </section>

  <!-- Segunda sección -->
  <section
    class="bg-verdeOscuro w-full lg:w-2/6 h-auto lg:h-96 rounded-lg border-4 border-oro flex flex-col justify-center items-center p-6"
    x-show="show"
    x-transition:enter="transition ease-out duration-700 delay-200"
    x-transition:enter-start="opacity-0 transform translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
  >
    <h2
      class="text-4xl lg:text-4xl font-outfit font-bold text-oro text-center"
    >
      Cynthia Monzón
    </h2>
    <h3
      class="text-2xl lg:text-2xl font-poppins font-light text-verdeLima text-center mt-2"
    >
      Licenciada en Psicología
    </h3>
  </section>
</main>
