<nav aria-label="Menú principal" class="w-full h-16 bg-verdeCrema flex justify-between items-center flex-row p-2 px-6 rounded-lg">
  <div class="flex justify-center items-center flex-row space-x-1 text-1xl font-poppins text-verdeGris">
    <h1 class="font-bold">Psicóloga</h1>
    <h2 class="font-bold">Cinthya Monzón</h2>
  </div>
  <div class="">
    <ul class="flex justify-center items-center flex-row space-x-5 text-1xl font-poppins font-medium text-verdeGris">
      <li class="hover:bg-naranja hover:text-verdeCrema hover:p-2 hover:rounded-lg duration-300"><a href="#home">Home</a></li>
      <li class="hover:bg-naranja hover:text-verdeCrema hover:p-2 hover:rounded-lg duration-300"><a href="#sobre-mi">Sobre mí</a></li>
      <li class="hover:bg-naranja hover:text-verdeCrema hover:p-2 hover:rounded-lg duration-300"><a href="#terapia">Terapia</a></li>
      <li class="bg-naranja p-2 rounded-lg text-verdeCrema hover:text-naranja  hover:bg-verdeCrema duration-300 hover:border-2 hover:border-naranja"><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
</nav>
