<main
  class="flex flex-col lg:flex-row justify-center items-stretch w-full h-auto rounded-lg mt-4 space-y-6 lg:space-y-0 lg:space-x-4"
  x-data="{ show: false }"
  x-init="setTimeout(() => show = true, 100)"
  id="sobre-mi"
>
  <!-- Segunda sección -->
  <section
    class="bg-verdeOscuro w-full lg:w-2/6 rounded-lg border-4 border-verdeLima flex flex-col justify-center items-center p-6"
    x-show="show"
    x-transition:enter="transition ease-out duration-700"
    x-transition:enter-start="opacity-0 transform -translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
  >
    <h2
      class="text-3xl md:text-4xl font-poppins font-bold text-verdeLima text-center leading-snug"
    >
      Sobre mí
    </h2>
  </section>

  <!-- Primera sección -->
  <section
    class="bg-verdeCrema w-full lg:w-4/6 rounded-lg flex flex-col lg:flex-row justify-center items-center p-6"
    x-show="show"
    x-transition:enter="transition ease-out duration-700 delay-200"
    x-transition:enter-start="opacity-0 transform translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
  >
    <div class="w-full lg:w-3/5 mb-8 lg:mb-0">
      <p
        class="text-base md:text-lg lg:text-xl text-center font-outfit font-semibold text-verdeOscuro leading-relaxed px-4 md:px-6"
      >
        ¡Hola! Soy Cynthia, psicóloga especializada en bienestar emocional. En mi consultorio en Cordón (Montevideo), acompaño a adultos y familias en su camino hacia el equilibrio emocional, junto a mi compañera canina Ishka. Ofrezco un espacio acogedor y seguro para explorar tus emociones, con sesiones tanto presenciales como online. ¡Me emociona poder acompañarte en tu viaje hacia el bienestar!
      </p>
    </div>
    <div class="w-full lg:w-2/5 flex justify-center items-center">
      <img
        src="/sobremi.png"
        alt="Plantas"
        class="object-cover w-64 h-64 md:w-72 md:h-72 lg:w-80 lg:h-80 rounded-lg"
      />
    </div>
  </section>
</main>