<main
  class="w-full lg:h-96 h-auto mt-4 rounded-lg text-center flex justify-center items-center lg:flex-row flex-col space-y-4 lg:space-y-0 lg:space-x-4"
  x-data="{ show: false }"
  x-init="setTimeout(() => show = true, 100)"
>
  <section
    class="lg:w-2/6 w-full lg:h-96 h-auto flex justify-center items-center border-4 border-verdeLima p-4 rounded-lg"
    x-show="show"
    x-transition:enter="transition ease-out duration-700"
    x-transition:enter-start="opacity-0 transform -translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
    id="terapia"
  >
    <h2
      class="text-4xl lg:text-4xl font-poppins font-bold text-verdeLima text-center"
    >
      Terapia
    </h2>
  </section>
  <section
    class="lg:w-4/6 w-full lg:h-96 h-auto bg-verdeCrema rounded-lg flex justify-center items-center lg:flex-row flex-col"
    x-show="show"
    x-transition:enter="transition ease-out duration-700"
    x-transition:enter-start="opacity-0 transform -translate-x-4"
    x-transition:enter-end="opacity-100 transform translate-x-0"
  >
    <div class="w-full lg:w-2/5 px-4">
      <img
        src="/bienestar.png"
        alt="Plantas"
        class="object-cover mx-auto w-72 h-72 lg:w-96 lg:h-96"
      />
    </div>
    <div class="lg:p-4 p-2  w-3/5">
      <!-- <h3 class="text-1xl font-poppins font-semibold text-verdeOscuro">Bienvenido/a a un espacio donde tu bienestar emocional es la prioridad</h3> -->
      <ul class="w-full text-left text-1xl font-outfit space-y-3 py-4">
        <li class="border-b-2 border-verdeOscuro">
          Licenciada en Psicología de la UdelaR con pasión por ayudar a la
          transformación personal.
        </li>
        <li class="border-b-2 border-verdeOscuro">
          Maestrando en Terapia Cognitivo Conductual, comprometida con ofrecer
          las herramientas más efectivas para tu crecimiento.
        </li>
        <li class="border-b-2 border-verdeOscuro">
          Terapia personalizada, tanto presencial como online, diseñada para
          adultos.
        </li>
      </ul>
    </div>
  </section>
</main>
