<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Psicóloga | Cynthia Monón"/>
		<meta property="og:description" content="Psic. Cynthia Monzón: Psicoterapeuta licenciada en Montevideo. Especializada en terapia cognitivo-conductual para adultos. Consultas presenciales y online."/>
		<meta property="og:url" content="https://cynthiamonzon.vercel.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://imagenesog.netlify.app/public/fotoPerfilCyn.jpg" /><!--?arreglar aca  -->
		<meta property="og:site_name" content="Psicóloga | Cynthia Monzón" />
		<meta property="og:locale" content="es_ES" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://cynthiamonzon.vercel.app/" />
		<link rel="preconnect" href="https://cynthiamonzon.vercel.app/">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Psicologa | Cinthya Monzón</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js" is:inline></script>
  </head>
  <body class="bg-verdeOscuro">
    <slot />
  </body>
</html>
